.title-block {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.ContactsList {
    display: flex;
    margin: 10px;
    border: 1px solid grey;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    width: 500px;
}
p {
    margin-left: 20px;
}
