.modal-container {
    position: relative;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modalInfo {
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    width: 30%;
    height: auto;
    object-fit: cover;
}
.icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}
.about-contact {
    padding-left: 20px;
    width: 70%;
}

.btn {
    margin: 5px;
}
